* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color: lightgray;
    z-index: 1;

    .menu {
        li:nth-child(1) {
            a {
                font-size: 16px;
                font-weight: bold;
                color: black;

                &:hover {
                    color: #FF003C;
                }
            }
        }
    }

    .cart {
        .total-price {
            font-weight: 500;
            font-size: 18px;
            transition: .3s;
        }

        sub {
            font-weight: 400;
        }

        i {
            padding: 0 0 0 10px;
            font-size: 18px;
            color: #FF003C;
        }

        sup {
            color: #FF003C;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .search {
        input {
            border: 1px solid #FF003C;
            transition: .3s;

            &:hover {
                box-shadow: 1px 1px 15px 1px inset rgba(255, 0, 0, 0.233);

            }

            &::placeholder {
                color: #FF003C;
            }
        }

        button {
            &:hover {
                background-color: rgba(255, 0, 0, 0.712);
            }
        }
    }
}

.text {
    position: relative;
    padding-bottom: 20px;

}

.sticky {
    display: flex;
    width: 100px;
    position: sticky;
    top: 560px;
    left: 16px;
}

.yourCart {
    position: fixed;
    border: 1px dashed #FF003C;
    border-radius: 3px;
    top: 80px;
    right: 0;
    box-shadow: 1px 1px 20px 1px gray;
    background-color: white;
    width: 400px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .6s;

    .cartTitle {
        color: rgba(255, 0, 0, 0.616);
        box-shadow: 1px 1px 80px 1px rgba(255, 0, 0, 0.418);
    }

    .product {
        width: 100%;
        padding: 10px;
        list-style: none;

        li {
            display: flex;
            padding: 10px 0;
            border-bottom: 1px solid gray;

            .cartImage {
                width: 80px;

                img {
                    width: 100%;
                }
            }

            .title-price {
                padding: 10px;
            }


            .xBtn {
                position: absolute;
                right: 4px;
                margin-top: 5px;

                button {
                    font-size: 10px;
                }
            }
        }
    }

    .cartPage {
        display: flex;
        width: 100%;
        background-color: rgb(231, 230, 230);
        position: sticky;
        bottom: 0;

        .total-price {
            padding: 8px;
            margin-left: 10px;

        }

        .checkOut {
            position: absolute;
            right: 15px;
            top: 2px;

            a {
                text-decoration: none;
            }

            button {
                font-size: 12px;
                height: 33px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.yourCart.active {
    visibility: visible;
    opacity: 1;
}

#Products {
    padding: 20px 0;
    border-top: 1px solid gray;

    .product {
        padding: 10px 20px;
        border: 1px ridge gray;
        border-radius: 10px;

        .image {
            margin-bottom: 15px;
            display: flex;
            justify-content: center;

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }

        .info-add {
            .add {
                display: inline;

                button {
                    &:hover {
                        background-color: rgba(255, 0, 0, 0.712);
                    }
                }
            }

            .info {
                p {
                    color: #FF003C;
                }
            }
        }
    }
}